{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-transform-destructuring",
    "transform-es2015-parameters",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
